{
    "window" : {
        "width" : 1000,
        "height" : 800
    },
    "application" : {
        "packages" : {
            "event_packages" : [
                "com.lapots.game.journey.ui.events"
            ],
            "dsl_packages" : [
                "com.lapots.game.journey.ui.dsl.basic",
                "com.lapots.game.journey.ui.dsl.basic.spinner",
                "com.lapots.game.journey.ui.dsl.menu",
                "com.lapots.game.journey.ui.dsl.tree",
                "com.lapots.game.journey.ui.dsl.window"
            ],
            "loader_packages" : [
                "com.lapots.game.journey.loader"
            ]
        },
        "component_path" : "components",
        "dsl_postfix" : "DSL",
        "loader_postfix" : "FileLoader",
        "supported_extensions" : [ "component" ],
        "assets_path" : "components/"
    },
    "components" : {
        "menu" : {
            "name" : "app_menu",
            "entry" : "menuBar"
        },
        "new_character" : {
            "name" : "create_character_window",
            "entry" : "window"
        }
    },
    "dsl" : {
        "config" : {
            "window_header_key" : "title",
            "label_key" : "label",
            "menu_label_key" : "name"
        },
    },
    "component" : {
        "config" : {
            "padding" : {
                "horizontal" : 1,
                "vertical" : 2
            },
            "window_center_offset" : {
                "x_offset" : "window.getX() - window.getWidth() / 4",
                "y_offset" : "window.getY() + window.getHeight() / 4"
            },
            "component_width" : 150
        }
    }
}
